<ion-content>
  <ion-card>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="data.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="data.password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col style="height:35px">
            <ion-button color="primary" expand="block"(click)="login(data)">Login</ion-button><br>
          </ion-col>
          <ion-col style="height:35px">
            <ion-button color="primary" expand="block" href="/register-user">Signup</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <h6><a href="/reset-password">Click here to reset password</a></h6>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>
</ion-content>